<br><br>
<div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

</div>


<div fxLayoutAlign="center center"fxFlexFill class="main-div"> 
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login here:</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <button color="primary" mat-stroked-button type="submit">LOG IN</button>
          </form>
          
    </mat-card>
</div>

