<div>
    <h1>Forma</h1>
</div>


<form [formGroup] ="addUserForm" (ngSubmit)="onSubmit()">


    <div class="form-group row">
        <!--name form-->
        <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Name</label>
        <div class="col-sm-10">

            <input type="text" formControlName="name" class="form-control" placeholder="Enter name">

            <div class="invalid-feedback">

    <!-- <div *ngIf="addUserForm.controls['name']errors['required']">Name is required</div>
    <div *ngIf="addUserForm.controls['name']errors['pattern']">Only Alphabets with space between 2 to 20 characters</div> -->
            </div>
        </div>
      <!--email form-->
        <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Email</label>
        <div class="col-sm-10">

            <input type="text" formControlName="email" class="form-control" placeholder="Enter email">
           
            <div class="invalid-feedback">

     <!-- <div *ngIf="addUserForm.controls['email']errors['required']">Email is required</div>
     <div *ngIf="addUserForm.controls['email']errors['pattern']">All characters with .com</div> -->
        </div>
        </div>
       
    </div>
   <div>
    
        <button type="submit" class="btn btn-primary" [disabled]="addUserForm.invalid">Submit</button>
     
   </div>
  